<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>ChatApplication</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
</head>

    <body>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="navbar">
            <span href="">CHATAPP</span>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Find">Find</a>
            <a asp-controller="Home" asp-action="Private">Private</a>
        </div>
        }

        <div class="main">
            @if (User.Identity.IsAuthenticated)
            {
            <vc:room></vc:room>
            }
            <div class="chat">
                @RenderBody()
            </div>
        </div>

        <div class="modal" id="create-room-modal">
            <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
                <a type="button" class="close" onclick="closeModal()">X</a>
                <header>Create Room</header>
                <div>
                    <input name="name"/>
                </div>
                <footer>
                    <button>Create</button>
                </footer>
            </form>
        </div>
    
        <script src="~/js/site.js"></script>
        @RenderSection("Scripts", false)
    </body>
</html>