@model IEnumerable<Chat>
<link rel="stylesheet" href="~/css/roombutton.css" asp-append-version="true" />

<div class="chat-body">
    @foreach(var chat in Model)
    {
        <a class="room-button" asp-controller="Home" asp-action="JoinRoom" asp-route-id="@chat.Id"> 
            @chat.Name
        </a>
    }

</div>