.chat-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    overflow: auto;
}

.chat-input {
    border-top: 1px solid #d6d5d5;
    min-height: 70px;
    max-height: 70px;
    z-index: 25px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-sizing: border-box;
}

.chat-input > input {
    flex-grow: 2;
}

.chat-input > button {
    flex-grow: 1;
    cursor: pointer;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-family: 'Playfair Display', sans-serif;
    color: rgb(72, 28, 112);
    min-height: 4rem;
}

.leave-room-button {
    background-color: #7e4ba5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 3px 1px #d6d5d5;
    text-decoration: none;
}

.leave-room-button:hover {
    background-color: #6a3890;
    box-shadow: 3px 3px 3px 1px #d6d5d5;
}