.room-button {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 1rem 0;
    height: 68px;
    border-radius: 5px;
    border: 1px solid #d6d5d5;
    background-color: #f7f7f7;
    text-align: center;
    cursor: pointer;
}

.room-button:hover {
    box-shadow: 0 2px 3px 1px #d6d5d5;
}