<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login-container">
    <header>
        C H A T A P P
    </header>
    <form asp-controller="Account" asp-action="Register" class="login-form">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button class="login-button" type="submit">Register</button>
    </form>
</div>
